<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/maskedinput/jquery.maskedinput.min.js"></script>
</head>
<body>
<div class="container h-100">
    {% block content %}


    {% endblock %}
</div>
</body>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/main.js"></script>
</html>